*{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Nunito', sans-serif;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  height: 250px;
  gap: 5px;
  
}

.social{
  display: flex;
  flex-direction: row;
  gap: 15px;
  cursor: pointer;
  color: #13daa5;
}

.info{
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  color: #878484;
}
.info p{
  text-align: justify;
}
.toTop{
  width: 150px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 25px;
  color: #ffffff;
  background-color: #13daa5;
  margin-top: 20px;
}



@media(min-width:768px){

  footer{
    flex-direction: row;
    justify-content: space-evenly;
  }

  .social{
    flex-direction: column;
  }
}