*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}

.topbar{
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    position: static;
    transition: 0.5s;
    padding: 1.5px;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeInDown 1s;
    color: #000000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.logo{
    font-size: 20px;
}

.logo:hover{
    color: #13daa5;
    transition: 0.5s;
}

.btnGroup{
    display: flex;
    gap: 7px;
    font-weight: 600;
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
}

.btnGroup span{
    font-size: 15px;
}

.btnGroup span:hover{
    border-bottom: solid 2px #c2bfbf;
    transition: 2s;
}

.btnSwitch{
    background-color: transparent;
    margin-left: 3px;
}

@media(min-width:768px){

    .topbar{
        padding-right: 2.5em;
        padding-left: 2.5em;
    }

    .logo{
        font-size: 30px;
    }

    .btnGroup{
        gap: 15px;
    }

   .btnGroup span{
    font-size: 18px;
    }
}